<!doctype html>
<html>
<title>Error!</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>An error has occurred!
  </h1>

</div>

<p>
 This is likely due to a missing selection of data type or an invalid address.  Please reload the previous page,
 ensure that your chosen address is valid, ensure that a data type has been selected, and re-submit.

 Note that you only need to include a number and street (not  city, zip code, etc.) for your chosen city.  
</p>

</html>