<!doctype html>
<html>
<title>Stock Ticker</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Please enter a starting address, a time you would like to travel, and route time class:
  </h1>
  <div class=metanav>


<h4>
<form id='route_type' method='post' action='/' > <!-- action must match your next URL -->
   <p>
   Address: <input type ='text' name='address'/>    
   </p>
   <p>
     Travel Time: <input type='text' name='time'/>
   </p>
    <p>
   Time class of route to consider: <br />
   <input type='radio' name='class' value={{ans1}} /> {{ans1}} <br />
   <input type='radio' name='class' value={{ans2}} /> {{ans2}} <br />
   <input type='radio' name='class' value={{ans3}} /> {{ans3}} <br />
   <input type='radio' name='class' value={{ans4}} /> {{ans4}} <br />
   </p>
   <p>
       Note: Please only submit after entering an address, entering a travel time, and choosing a time class!
   </p>
   <p>    
   <input type='submit' value='Submit' /> <!--the 'value' is the word that will appear on your button.-->
   </p>
</form>
</h4>

</div>
</div>
</html>